body {
	color : #ff0000;
	text-align: center;
	background-color: black;
}


/*css styles for the references of the main web pages*/

a.main {
	color : #00aaff;
	text-align : center;
	font-size : 20pt;
	text-shadow : 3px 1px 4px #aa0000 ;
	font-weight : 900;
}

/*css styles for the multimedia references*/

ol li a {
	color : #aa0000;
	text-align : center;
	font-size : 14pt;
	font-weight : 900;
}

ol li a:visited {
	color : grey;
}

ol li a:hover {
	color : #ff2200;
}

ol li a:focus {
	color : #ffff00;
}


/* css for the VIDEOS and PHOTOS banner in the multimedia */

p.topic {
	color : #ffffff;
	text-align : center;
	font-size : 16pt;
	font-weight : 900;
	text-shadow : 2px 1px 4px #ff00ff;
	font-style : italic;
}

/* css style for the header of the web page*/

header {
	color : #ffffff;
	font-size : 85%;
	font-weight : 500;
	text-indent : 50px;
}

/* chenge the appearance of the name in initial message*/

header span {
	color : #ffffff;
	font-size : 100%;
	font-weight : 700;
	text-shadow : 3px 1px 2px #ff0000;
}

/* css for the accomplishments */

body header#accomplishments {
	text-decoration : underline;
	text-shadow : 2px 2px 2px #ff0a00;
	font-size : 17pt;
	color : #ffffff;
	text-align : left;
	font-weight : 600;
	margin : 30px;
}

/* css for the accomplishments for the list */

article.accoart {
	text-align : left;
	color : #ffffff;
	font-weight : 300;
}


/* css for the biography */

body p#biography {
	text-decoration : underline;
	text-shadow : 2px 2px 2px #ff0a00;
	font-size : 17pt;
	color : #ffffff;
	text-align : center;
	font-weight : 600;
	margin : 30px;
}

body section.bio {
	text-indent : 2em;
	color : #000000; 
	background-position : 1em 1em;
	line-height : 2em;
	background-color : #ffffcc;
	background-repeat : no-repeat;
	padding : 1em 1em 1em 1em;
}

figure#LU {
	font-weight : 600;
	}

/* css for the news */

p.news {
		color : #ffffff;
		font-weight : 700;
		text-shadow : 2px 2px 2px #ffff00;
		text-align : center;
		font-size : 17pt;
	}

section#newsart ul {
	font-weight : 700;
	text-align : left;
}

/* css for the quiz */
body#quiz {
	background-color : #000000;
}

h1#message{
	font-size : 20pt;
	color : #ffffff;
	text-shadow : 2px 2px 2px #ff0000;
	margin : 20px;
	font-weight : 700;
}

body#quiz p#question {
	color : #ffffff;
	text-align : center ;
	font-weight : 600;
}

div#wrapper {
	text-align : center;
}

button {
	text-align : center;
	color : #ffffff;
	background-color : #2200aa;
}

